/* Sections */
.container {
  margin: 3rem auto;
  max-width: 75rem;
  padding: 3rem 1.5rem;
  position: relative;
}

/* Section Header Content */
.header-container {
  background-color: #DDDDDD;
  text-align: center;
  padding: 6rem 1rem;
}

/* Option header */
.option-container {
  text-align: center;
  background-color: #EEEEEE;
  padding: 3rem 1rem;
}

 /* blurring the image 
 .gfg {
  filter: blur(5px);
  width: 100%;
}
*/

/*Hero Banner */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.hero-banner {
  position: relative;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  filter: blur(5px);
  width: 100%;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }
}



/* content section */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.content-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.content {
  display: flex;
  align-items: center;
}

.left-image {
  max-width: 50%;
  height: auto;
  margin-right: 20px;
}

.text {
  flex-grow: 1;
}

p {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .left-image {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}


/* accordion panel */



.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-info {
  flex-basis: 60%;
}

.footer-info p {
  margin: 0;
}

.footer-info ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.footer-info ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-info ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-map {
  flex-basis: 40%;
}

.footer-map iframe {
  width: 100%;
  height: 200px;
}